

.flex-wrapper__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  margin: 3rem auto;

}

.flex-wrapper__about h1 {
 
    color: var(--color-main);
    text-decoration: underline;
    font-weight: bold;
 
}

.flex-wrapper__about .about-cta {
  align-self: center;
  margin: 2rem auto 1rem;
}



.flex-item__about-text {
  width: 100%;
  max-width: 400px;
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
}

.flex-item__about-text h1 {
  align-self: center;
}

.flex-item__about-img {
  flex: 1;
  align-self: center;
  
 
}
