h1 {
  color: var(--color-main);
}

.flex-wrapper__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.flex-item__about-text {
  width: 100%;
  max-width: 400px;
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 70px;
}

.flex-item__about-text h1 {
  align-self: center;
}

.flex-item__about-img {
  flex: 1;
  align-self: center;
  max-width: 1480px;
  width: 100%;
  max-height: 1224px;
}
