
.image__logo-background {
    background-image: url(../images/Home\ page\ logo.jpg);
    background-size: cover;
    max-width: 1765px;
    min-height: 1104px;
    margin: 4px 0px 52px 0px;
    background-position: center;
  }
  
  .image__shop-section {
    background-image: url(../images/person\ in\ orange\ hooded\ jacket\ carrying\ bag\ looking\ at\ mountains\ coate.jpg);
    background-size: cover;
    max-width: 1765px;
    min-height: 1104px;
    margin: 4px 0px 52px 0px;
    background-position: center;
    mix-blend-mode: overlay;
  }