.flex__wrapper-index {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* margin: 3rem 3% 3rem 3%; */
  margin: 3rem 10% 3rem 10%;
}

.image__logo-background {
  background: url(../images/Home-page-logo-edited.png) no-repeat;
  flex: 1;
}

.image__shop-section {
  background: url(../images/person\ in\ orange\ hooded\ jacket\ carrying\ bag\ looking\ at\ mountains\ coate.jpg)
    no-repeat;
  mix-blend-mode: overlay;
  display: flex;
  justify-content: center;
  gap: 11rem;
  flex: 1;
}

.image__logo-background,
.image__shop-section {
  align-self: center;
  background-size: cover;
  background-position: center;

  /* min-height: 1146px; */
  min-height: 800px;
  max-width: 100%;
  width: 100%;

  /* max-width: 1780px;
    height: auto;
     */
}

.image__shop-section .cta {
  position: relative;
  
  top: 200px;
}
