
@media (max-width: 800px) {
    header {
      position: relative;
    
    }
  
    body {
      margin: 0px;
    }

    footer {
      display: none;
    }

    #menu-checkbox:checked ~ .flex-item__nav-left {
      display: block;
      background-color: #146c82;
      position: absolute;
      left: 0;
      flex-direction: column;
      top: 100%;
      z-index: 1;
      padding: 10px 10px;
      margin: -12px 0px 0px 10px;
    }
    nav li a {
      color: white;
      padding: 10px 10px 5px 0px;
      display: inline-block;
    }
    #menu-checkbox,
    .flex-item__nav-left {
      display: none;
      padding: 10px 20px;
    }
  
    .flex-wrapper__nav {
      box-shadow: none;
      margin: 0;
      min-height: 90px;
    }
  
    .flex-item__nav-bars {
      padding-left: 30px;
      padding-top: 10px;
      display: inline;
      font-size: 1em;
      flex: 1;
    }
  
    .flex-item__nav-left {
   
      display: none;
  
    }
  
    .flex-item__nav-center {
      flex: 3;
    }

    .flex-item__nav-center-header {
      font-size: 1.75rem;
      
    }
  
    .flex-item__nav-right {
      padding: 0px 30px 0px 0px;
      font-size: 1.5rem;
      gap: 0.5em;
      padding-top: 10px;
    }
  
    .cta {
      margin: 40px;
      font-size: 1rem;
      min-height: 20px;
      height: 20px;
      border: var(--color-main) 2px solid;
      max-width: 90px;
      padding: 10px 10px;
    }

    /* Home page */

    .flex__wrapper-index {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem 0;
  }

  .image__logo-background {
    background: url(../images/Home\ page\ logo\ smaller.png) no-repeat;
    background-size: cover;
  }

    .image__logo-background,
    .image__shop-section {
      width: 100%;
      min-height: 300px;
      margin: 0px 0px 5px 0px;
      background-position: center;
      position: relative;
    }

    .image__shop-section {
      gap: 0;
    }

    .image__shop-section .cta {
      position: relative;
      top: 70px;
      border: white 3px solid;
      width: 100%;
      color: white;
      
    
    }
  .flex-wrapper__about {
    margin: auto;
    
    
  }

  /* Shop page */

  .flex__wrapper-products {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 0;
  }

  .filter_sort-by {
    margin: 0 25px;
    font-size: 1.3rem;
  }

  .shop__text-desktop {
    display: none;
  }

  .shop__text-mobile {
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
  }

  .filter_sort-by h3 {
    font-size: 1.3rem;
  }


/* Checkout page */

.flex__wrapper-checkout-page {
  flex-direction: column;
  gap: 1rem;
}

.flex__wrapper-checkout-cart {
  border: hidden;
}

.button__back {
  display: none;
}

.flex__item-payment {
  margin: 0 5rem;
}

.cta-submit {
  align-self: center;

}
.checkbox {
    height: 25px;
    width: 25px;
}


/* Success page */

.main__success {
  background-image: url(../images/success\ bg\ image\ resize.jpg);
  margin: 0;
    height: 100%;
    min-height: 1000px;
    width: 100%;
}

.success-text {
 width: 70%;
}

.success-text h1 {
  font-size: 1.3rem;
}

.cta-success {
  margin: 20px;
    font-size: 1rem;
    min-height: 20px;
    height: 20px;
    border: var(--color-main) 2px solid;
    max-width: 99px;
    padding: 5px 10px;
    font-size: 0.7rem;
}



/* Product page */

.grid__wrapper-explore,
 .explore-text {
  display: none;
}

/* About */

.flex-wrapper__about {
  gap: 1rem;
}

.flex-item__about-text {
  width: 90%;
  max-width: 350px;
  margin-top: 25px;
 
}

.flex-item__about-text p {
  font-size: 1rem;
}

.flex-item__about-img {
  min-height: 400px;
  
  width: 100%;
}

.about-cta  .cta{
  align-self: center;
  margin: 0 auto;
}

}

