


.shop__text {
    text-align: center;
    font-weight: bold;
    color: black;
}

.shop__text-mobile {
    display: none;
}

.shop__text h1 {
    font-weight: bold;
}

.filter_sort-by {
    display: flex;
    justify-content: space-between;
    margin: 0 125px;
    font-size: 2rem;
    
}

.flex__wrapper-products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    margin: 0 8rem 8rem 8rem;
    font: var(--text-paragraph);
    text-align: center;
}



.flex__item-product-card {
    display: flex;
    flex-direction: column;
    
   
  
}

.flex__item-product-img {
    flex: 1;
}

.flex__item-product-info {
    flex: 1;
}

.flex__item-product-info > * {
    margin: 10px;
}

.filter_sort-by h3 {
    font-size: 1.5rem;
    margin: 20px;
}