@import "../css/imports/links.css";
@import "../css/imports/variables.css";

/*  
Global section
 -Is the page scaleable?
 */


h1,
h2 {
  font: var(--text-heading);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 
}



p,
header,
footer {
  font: var(--text-paragraph);
}

nav a {
  font-weight: bold;
}

/* nav a:hover {
  text-decoration: underline;
} */

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.active {
  text-decoration: underline;
  text-decoration-color: var(--color-main);
}

/* header navbar 
Comment: 
-How to make the Rainy days h1 always stay centered
-Look at the fonts
 */

.flex-wrapper__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row;
  max-height: 144px;
  max-width: 100%;
  width: 100%;
  box-shadow: 0px 4px 0px rgba(197, 193, 193, 0.16);
}

.flex-item__nav-left {
  gap: 1rem;
  list-style: none;
  padding: 0px;
  display: inline-flex;
  order: 1;
  flex: 1;
  padding-left: 5rem;
}

.flex-item__nav-center {
  order: 2;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
}

.flex-item__nav-right {
  order: 3;
  gap: 1.5rem;
  list-style: none;
  display: inline-flex;
  flex: 1;
  justify-content: right;
  padding-right: 5rem;
  padding-top: 5px;
}

.flex-item__nav-bars,
#menu-checkbox {
  display: none;
}

/* footer
How to make the footer 100% wide??
*/

footer a {
  text-decoration: underline;
  text-decoration-color: white;
}

.flex-wrapper__footer {
  background-color: #146c82;
  display: flex;
  height: 133px;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  gap: 1em;

}

.flex-item__footer-a {
  color: white;
}
