@import "../css/imports/links.css";
@import "../css/imports/variables.css";


/*  
Global section
 -Is the page scaleable?
 */





h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 3.125rem; 
}

body {
  margin: 0px auto;
  max-width: 1765px;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
}

nav a {
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
  text-decoration-color: var(--color-main) ;

}

/* header navbar 
Comment: 
-How to make the Rainy days h1 always stay centered
-Look at the fonts
 */

header {
  margin: 0px -70px;
}

.flex-wrapper__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row;
  max-height: 144px;
  max-width: 1920px;
  width: 100%;
  box-shadow: 0px 4px 0px rgba(197, 193, 193, 0.16);
}

.flex-item__nav-left {
  gap: 1rem;
  list-style: none;
  padding: 0px;
  display: inline-flex;
  order: 1;
  flex: 1;
  font-size: 28px;
  padding-left: 70px;
}

.flex-item__nav-center {
  order: 2;
  flex: 2;
  text-align: center;
  text-transform: uppercase;

}

.flex-item__nav-right {
  order: 3;
  gap: 1.5rem;
  list-style: none;
  display: inline-flex;
  flex: 1;
  justify-content: right;
  padding-right: 70px;
  font-size: 28px;
  padding-top: 5px;
}



.flex-item__nav-bars,
#menu-checkbox {
  display: none;
}

/* footer
How to make the footer 100% wide??
*/

.flex-wrapper__footer {
  background-color: #146c82;
  display: flex;
  height: 133px;

  bottom: 0px;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.flex-item__footer-a {
  color: white;
  font-size: 28px;
}
