

.main__success {
    background-image: url(../images/success\ bg\ image\ resize.jpg);
    min-height: 1080px;
    max-width: 1920px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 2rem auto;
 

}   

.success-text {
    background-color: rgba(0, 0, 0, .7);
    height: 300px;
    width: 600px;
   
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    justify-content: center;
    margin: 100px auto;
} 

.success-text > * {
  
    align-self: center;
    max-width: 250px;
    width: 100%;
} 

.success-text h1 {
    color: white;
    font-size: 2.5rem;
}