.cta {
    border: var(--color-main) 4px solid;
    padding: 5px 10px;
    height: 50px;
    width: 200px;
    color: var(--color-main);
    text-align: center;
    font: var(--text-paragraph);
  
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    
}