:root {
    
    --color-main: #146c82;
    --color-placeholder: rgb(20, 108, 130, .26);
    --color-cta-main-hover: #0D5162;
   --text-heading: 'Libre Baskerville', serif;
    --text-paragraph: 'Poppins', sans-serif;
   
}

